@charset "UTF-8";

$regular: 'Montserrat', Tahoma, Geneva, Verdana, sans-serif;
$primary: #1f9389;
$black: #000;

html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

@mixin text {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
}

@mixin img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

#es-garnier.es-garnier {
  font-family: $regular;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  max-width: 500px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  color: #111;
  background: #fff;

  * {
    box-sizing: border-box;
  }

  h2,
  h3,
  h4,
  h5 {
    font-family: $regular;
    color: #111;
  }

  .es-kv {
    margin-bottom: 48px;
    &__content {
      margin-top: -12px;
      position: relative;
    }
    &__text {
      position: absolute;
      top: 35%;
      left: 38%;
    }
    &__logo {
      margin-bottom: 32px;
    }
    &__img {
      @include img;
    }
    &__text {
      padding-right: 16px;
    }
    &__title {
      @include text;
      font-weight: 600;
      font-size: 27px;
      text-transform: uppercase;
      line-height: 1;
      color: #e75e1c;
      // font-size: 40px;
      font-size: 26px;
      position: relative;
      z-index: 1;
      span {
        font-size: 2.25em;
      }
    }
    &__subtitle {
      @include text;
      font-size: 20px;
      font-weight: 400;
      text-transform: uppercase;
      position: relative;
      z-index: 1;
      text-align: center;
      letter-spacing: -1px;
    }
    &__packshot {
      margin-top: -64px;
      margin-left: 0px;
      margin-right: -16px;
    }
  }

  .es-intro {
    margin-bottom: 16px;
    &__container {
      padding: 16px;
      &:nth-child(odd) {
        flex-flow: row-reverse;
      }
    }
    &__packshot {
      margin-bottom: 16px;
      &--3 {
        margin-top: -32px;
      }
    }
    &__img {
      @include img;
    }
    &__title {
      @include text;
      text-transform: uppercase;
      font-size: 20px;
      font-weight: 800;
      margin-bottom: 16px;
      text-align: center;
      color: #e9560d;
      span {
        font-size: 2em;
      }
    }
    &__intro-title {
      @include text;
      text-transform: uppercase;
      font-size: 20px;
      font-weight: 800;
    }
    &__intro-subtitle {
      @include text;
      text-transform: uppercase;
      font-size: 27px;
      font-weight: 800;
      margin-bottom: 16px;
      color: #e9560d;
      span {
        font-size: 2em;
      }
    }
    &__list {
      margin: 0;
      margin-left: -16px;
      margin-right: -16px;
      padding: 16px;
      padding-left: 56px;
      list-style: none;
      &--color {
        background: #e2f6f5;
      }
    }
    &__item {
      @include text;
      position: relative;
      transition: all 0.3s;
      &:not(:last-child) {
        margin-bottom: 16px;
      }
      &::before {
        content: url('img/check.png');
        position: absolute;
        left: -40px;
      }
      &:hover {
        transform: translateX(-8px);
      }
    }
    &__image {
      margin-bottom: 24px;
    }
    &__disc {
      @include text;
      font-size: 10px;
      margin-bottom: 24px;
    }
  }

  .es-ingredients {
    padding: 16px;
    &__img {
      @include img;
    }
    &__cards {
      margin: 32px auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      max-width: 460px;
    }
    &__single {
      flex: 1;
      flex-basis: 50%;
      margin: 8px;
      max-width: 212px;
      max-height: 224px;
      padding: 24px 8px;
      background: #fff;
      border: none;
      border-radius: 16px;
      box-shadow: 4px 8px 32px rgba(0, 0, 0, 0.08%);
      transition: all 0.3s ease-in-out;
      &:hover {
        transform: scale(1.05);
      }
    }
    &__text {
      @include text;
      font-size: 15px;
      padding-top: 16px;
      text-align: center;
      span {
        font-size: 16px;
        display: block;
        margin-bottom: 4px;
        font-weight: 700;
      }
    }
    &__cards .es-ingredients__single {
      opacity: 1;
    }
    &__cards:hover .es-ingredients__single {
      opacity: 0.8;
    }
    &__cards .es-ingredients__single:hover {
      opacity: 1;
    }
    &__disclaimer {
      @include text;
      padding: 16px;
      font-size: 13px;
      text-align: center;
      width: 100%;
      // text-align: left;
    }
  }

  .es-benefits {
    position: relative;
    z-index: 1;
    padding: 0 16px;
    &__title {
      @include text;
      font-weight: 900;
      font-size: 30px;
      text-align: center;
      padding-top: 24px;
      text-transform: uppercase;
      margin-bottom: 24px;
    }
    &__img {
      @include img;
    }
    &__texts {
      max-width: 350px;
      margin: 0 auto;
    }
    &__label {
      display: flex;
      flex-flow: column;
      justify-content: center;
      min-height: 92px;
      min-width: 230px;
      max-width: 350px;
      position: relative;
      color: #e9560d;
      &::before {
        content: url(img/border-1.png);
        position: absolute;
        top: 0;
        left: 0;
      }
      &::after {
        content: url(img/border-2.png);
        position: absolute;
        top: 0;
        right: 0;
      }
    }
    &__name {
      @include text;
      font-size: 27px;
      padding: 0 20px;
      font-weight: 800;
      text-transform: uppercase;
      max-width: 350px;
      line-height: 1;
      span {
        font-size: 16px;
      }
    }
    &__text {
      @include text;
      font-size: 14px;
      padding: 20px 0;
    }
    &__packshot {
      margin-top: -48px;
      position: relative;
      z-index: -1;
    }
  }

  .es-apply {
    margin: 48px 0;
    &__title {
      @include text;
      font-weight: 900;
      font-size: 24px;
      text-align: center;
      padding: 16px;
      text-transform: uppercase;
    }
    &__container {
      padding: 16px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 32px;
    }
    &__step {
      width: 278px;
    }
    &__img {
      @include img;
      transition: all 0.3s;
    }
    &__photo {
      margin-bottom: 24px;
      overflow: hidden;
      &:hover {
        .es-apply__img {
          transform: scale(1.05);
        }
      }
    }
    &__text {
      @include text;
      font-weight: 600;
      margin: 8px 0;
    }
    &__desc {
      @include text;
    }
  }

  .es-info {
    margin-bottom: 32px;
    &__img {
      @include img;
      width: 100%;
    }
    &__photo {
      padding: 0 16px;
      margin-bottom: 32px;
    }
    &__content {
      padding: 0 16px;
      position: relative;
      z-index: 1;
    }
    &__title {
      @include text;
      font-weight: 800;
      font-size: 24px;
      margin-bottom: 24px;
      text-transform: uppercase;
      padding: 16px 0;
    }
    &__subtitle {
      @include text;
      font-weight: 800;
      text-transform: uppercase;
      margin-bottom: 32px;
      span {
        display: block;
        color: #c4a474;
      }
    }
    &__list {
      padding: 16px;
      margin: 0;
      line-height: 1.4;
    }
    &__point {
      @include text;
    }
    &__item {
      display: flex;
      align-items: center;
      gap: 16px;
      margin-bottom: 32px;
    }
    &__icon {
      min-width: 56px;
      flex-basis: 56px;
      position: relative;
    }
    &__text {
      @include text;
    }
    &__link {
      @include text;
      margin-top: 4px;
      display: inline-block;
      padding: 12px 48px;
      text-decoration: none;
      color: #fff;
      font-weight: 600;
      font-size: 14px;
      text-align: center;
      border-radius: 8px;
      transition: all 0.3s ease-in-out;
      background: #1f9389;
      margin-bottom: 24px;
      &:hover {
        background: lighten(#1f9389, 10%);
      }
    }
    &__disclaimer {
      @include text;
      font-size: 13px;
    }
  }

  .es-cross {
    position: relative;
    z-index: 1;
    &__slider {
      padding-top: 32px;
    }
    &__wrapper {
      padding: 16px;
    }
    &__title {
      @include text;
      text-transform: uppercase;
      font-size: 24px;
      font-weight: 800;
      padding: 16px;
      text-align: center;
    }
    &__container {
      // display: flex;
      display: none;
      flex-flow: column;
      align-items: center;
      gap: 16px;
    }
    &__product {
      display: flex;
      flex-flow: column;
      align-items: center;
      max-width: 220px;
      margin: 0 auto;
    }
    &__slider {
      .es-cross__product {
        &:hover .es-cross__img {
          transform: scale(1.025);
        }
        &:hover .es-cross__link {
          background: lighten($color: #e9560d, $amount: 10%);
        }
      }
    }
    &__packshot {
      min-height: 236px;
      display: flex;
      align-items: flex-end;
    }
    &__step {
      @include text;
      color: #63bbbe;
      font-weight: 600;
      text-align: center;
      text-transform: uppercase;
      border: 2px solid #63bbbe;
      border-radius: 8px 8px 0 0;
      padding: 8px;
      width: 220px;
      font-size: 14px;
    }
    &__text {
      @include text;
      font-weight: 800;
      font-size: 14px;
      margin-top: 32px;
      text-align: center;
      margin-bottom: 20px;
    }
    &__desc {
      @include text;
      text-align: center;
      font-size: 14px;
      margin-top: 16px;
      margin-bottom: 16px;
      padding: 0 16px;
      min-height: 50px;
    }
    &__link {
      @include text;
      margin-top: 4px;
      display: inline-block;
      padding: 8px 64px;
      text-decoration: none;
      color: #fff;
      font-weight: 600;
      font-size: 14px;
      text-align: center;
      border-radius: 8px;
      transition: all 0.3s ease-in-out;
      background: #e9560d;
      width: 100%;
      &:hover {
        background: lighten(#e9560d, 10%);
      }
    }
    &__img {
      @include img;
      transition: all 0.3s ease-in-out;
    }
    .swiper-cross-button-prev:after,
    .swiper-container-rtl .swiper-cross-button-next:after {
      display: none;
    }
    .swiper-cross-button-next:after,
    .swiper-container-rtl .swiper-cross-button-prev:after {
      display: none;
    }
    .swiper-cross-button-next,
    .swiper-container-rtl .swiper-cross-button-prev {
      right: -12px;
      left: auto;
    }
    .swiper-cross-button-prev,
    .swiper-container-rtl .swiper-cross-button-next {
      left: -12px;
      right: auto;
    }
    .swiper-container-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
      bottom: 0px;
    }
    .swiper-cross-pagination {
      position: absolute;
      bottom: -32px;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
    }
    .swiper-pagination-bullet {
      width: 12px;
      height: 12px;
      display: inline-block;
      border-radius: 50%;
      background: #fff;
      border: 1px solid $black;
      opacity: 1;
      &:not(:last-child) {
        margin-right: 6px;
      }
    }
    .swiper-pagination-bullet-active {
      opacity: 1;
      background: $black;
    }
  }

  .es-footer {
    padding: 0;
    padding-top: 48px;
    position: relative;
    z-index: 0;
    &__disclaimer {
      @include text;
      text-align: center;
      margin-bottom: 32px;
      font-size: 12px;
    }
    &__img {
      @include img;
    }
    &__logo {
      margin-bottom: 16px;
    }
    &__wrapper {
      background: linear-gradient(to right, #30663f, #167535, #30663f);
      display: flex;
      flex-wrap: wrap;
      gap: 16px;
      padding: 19px 16px;
      align-items: center;
      justify-content: space-evenly;
    }
  }

  @media screen and (min-width: 425px) {
    .es-kv {
      &__title {
        font-size: 32px;
      }
      &__subtitle {
        font-size: 25px;
      }
    }
  }

  @media screen and (min-width: 768px) {
    max-width: 998px;
    .es-kv {
      margin-bottom: 32px;
      &__container {
        display: flex;
      }
      &__title {
        font-size: 40px;
      }
      &__subtitle {
        font-size: 28px;
      }
      &__photo {
        display: flex;
      }
      &__content {
        position: relative;
        z-index: 1;
        margin-top: 0;
        margin-left: -56px;
        padding-bottom: 0;
        display: flex;
        img {
          min-height: 357px;
          max-width: none;
        }
      }
      &__image {
        flex-grow: 1;
      }
      &__packshot {
        margin-top: -262px;
      }
      &__img {
        &--photo {
          object-fit: cover;
          object-position: 12%;
          height: 100%;
        }
      }
    }
    .es-intro {
      background: linear-gradient(
        to bottom,
        #fff,
        #fff 380px,
        #f3e383 380px,
        #f3e383 564px,
        #fff 564px
      );
      &__container {
        display: flex;
        justify-content: center;
        &:first-child {
          margin-bottom: -64px;
        }
        &:last-child {
          margin-top: -59px;
        }
      }
      &__content {
        max-width: 380px;
        padding-left: 32px;
        padding-top: 56px;
        flex: 1;
        flex-shrink: 1;
        &--1 {
          max-width: 532px;
          padding: 0;
          margin-left: auto;
          margin-right: 0;
        }
        &--2 {
          padding-top: 40px;
        }
        &--3 {
          flex-basis: 50%;
          max-width: none;
        }
      }
      &__packshot {
        margin-bottom: 0;
        &--3 {
          flex: 1;
          flex-basis: 50%;
        }
      }
      &__list {
        background: none;
      }
      &__title {
        font-size: 27px;
        margin-bottom: 24px;
      }
    }
    .es-benefits {
      margin: 80px 0 64px 0;
      position: relative;
      &__texts {
        position: absolute;
        max-width: 300px;
        transition: all 0.3s;
        &--1 {
          top: 0px;
          left: 66%;
          padding-right: 16px;
          &::before {
            content: url('img/border-line-1.png');
            position: absolute;
            top: 46px;
            left: -154px;
          }
        }
        &--2 {
          bottom: 0;
          left: 58%;
          padding-left: 16px;
          &::before {
            content: url('img/border-line-3.png');
            position: absolute;
            top: -119px;
            left: -45px;
          }
        }
        &--3 {
          bottom: 100px;
          right: 68%;
          padding-left: 16px;
          &::before {
            content: url('img/border-line-2.png');
            position: absolute;
            top: 6px;
            right: -190px;
          }
        }
      }
      &__name {
        max-width: 270px;
        margin-left: 0;
        margin-right: auto;
      }
    }
    .es-apply {
      max-width: 900px;
      margin: 0 auto;
      margin-bottom: 64px;
      &__container {
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: flex-start;
      }
      &__step {
        &:not(:last-child) {
          margin-right: 16px;
        }
      }
    }
    .es-info {
      max-width: 900px;
      margin: 32px auto;
      margin-bottom: 64px;
      &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &--second {
          flex-flow: row-reverse;
        }
      }
      &__photo {
        flex: 1;
        margin-bottom: 0;
        flex-basis: 50%;
        padding: 0;
        img {
          margin-left: 0;
        }
      }
      &__img {
        width: auto;
      }
      &__content {
        flex: 1;
        flex-basis: 50%;
        padding: 0;
        padding-left: 64px;
      }
      &__title {
        padding: 0;
        padding-bottom: 16px;
        // line-height: 1.5;
      }
      &__text {
        // line-height: 1.5;
      }
    }
    .es-cross {
      margin: 0 auto;
      &__slider,
      &__pagination {
        display: none;
      }
      &__wrapper {
        margin: 0;
      }
      &__title {
        margin-bottom: 32px;
      }
      &__text {
        min-height: 34px;
      }
      &__container {
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: center;
        gap: 16px;
      }
      &__product {
        margin: 0;
        flex: 1;
        width: 200px;
        &--double {
          min-width: 460px;
          .es-cross__step {
            width: 460px;
          }
        }
      }
      &__link {
        &:hover {
          background: lighten($color: #e9560d, $amount: 10%);
        }
      }
      &__desc {
        flex-grow: 1;
      }
      &__packshots {
        display: flex;
        align-items: flex-end;
      }
      &__packshot {
        transition: all 0.3s;
        &:hover {
          transform: scale(1.05);
        }
      }
      &__texts {
        display: flex;
        gap: 56px;
        width: 100%;
        justify-content: center;
        .es-cross__text {
          flex: 1;
        }
        .es-cross__desc {
          flex: 1;
        }
      }
    }
    .es-footer {
      &__img {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  @media screen and (min-width: 860px) {
    .es-ingredients {
      // max-width: 900px;
      margin: 0 auto;
      &__title {
        margin-bottom: 0;
      }
      &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      &__content-title {
        margin-top: 32px;
        line-height: 1;
        padding: 16px 24px;
        padding-bottom: 10px;
        text-align: left;
        font-size: 35px;
        span {
          font-size: 25px;
        }
      }
      &__img-packshot {
        margin-right: auto;
      }
      &__wrapper,
      &__content {
        flex: 1;
      }
      &__cards {
        margin: 0;
        background: url(img/bg-ingr.png) no-repeat center center;
      }
      &__disclaimer {
        text-align: left;
        max-width: 460px;
        margin-right: 0;
        margin-left: auto;
      }
      &__single {
        width: 220px;
        height: 230px;
      }
      &__packshot {
        margin-top: -100px;
      }
    }
  }

  @media screen and (min-width: 998px) {
    .es-info {
      &__title {
        font-size: 22px;
      }
      &__icon {
        position: relative;
        &::before {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }
        &--1::before {
          content: url('img/line-1.png');
          left: -124px;
        }
        &--2::before {
          content: url('img/line-1.png');
          left: -124px;
        }
        &--3::before {
          content: url('img/line-1.png');
          left: -124px;
        }
      }
    }
  }
}

@keyframes clock {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

// @keyframes clock {
//   0% {
//     transform: rotate(60deg);
//   }
//   12.5% {
//     transform: rotate(60deg);
//   }
//   25% {
//     transform: rotate(50deg);
//   }
//   75% {
//     transform: rotate(50deg);
//   }
//   37.5%{
//     transform: rotate(50deg);
//   }
//   50% {
//     transform: rotate(50deg);
//   }
//   62.5% {
//     transform: rotate(50deg);
//   }
//   75% {
//     transform: rotate(60deg);
//   }
//   87.5% {
//     transform: rotate(60deg);
//   }
//   100%{
//     transform: rotate(60deg);
//   }
// }

@keyframes sway {
  0% {
    transform: rotate(-23deg);
  }
  50% {
    transform: rotate(-29deg);
  }
  // 26% {
  //   transform: scaleX(0.97) rotate(-28deg);
  // }
  // 44% {
  //   transform: scaleX(1.02) rotate(-31.5deg);
  // }
  // 56% {
  //   transform: scaleX(0.98) rotate(-28.5deg);
  // }
  // 78% {
  //   transform: scaleX(1.03) rotate(-32.5deg);
  // }
  100% {
    transform: rotate(-23deg);
  }
}
